
body {
    background-color: rgb(190, 208, 209);
    padding: 70px;
}
input {
    padding: 10px 15px; /* Espaciado interno */
    border-radius: 5px; /* Esquinas redondeadas */
    font-size: 16px; /* Tamaño de texto */
    transition: all 0.3s ease; /* Efecto de transición */
    width: 92%;
    font-size: 1.2rem;
    outline: none;
}

/* Efecto al hacer hover */
input:hover {
    border-color: #888; /* Cambia el color del borde */
}

/* Efecto al hacer foco */
input:focus {
    border-color: #4A90E2; /* Color de borde al hacer foco */
    outline: none; /* Quita el contorno predeterminado */
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.3); /* Sombra suave */
}
button {
    background-color: rgba(226, 225, 225, 0.986);
    border-radius: 50px;
    box-shadow: 0px 2px 5px #1b59a0;
    padding: 10px 15px; /* Espaciado interno */
    border-radius: 5px; /* Esquinas redondeadas */
    font-size: 16px; /* Tamaño de texto */
    transition: all 0.3s ease; /* Efecto de transición */
    font-size: 1.2rem;
    outline: none;

    
    
    
}
.botonsito {
   margin-top: 10px;
}
h1{
    font-size: 60px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3 {
    font-size: 3rem;
    margin-bottom: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ol {
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif !important;
}
.card {
    align-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0px 3px 5px #0f0f0f;
    display: flex;
    flex-direction: column;
    height: 0%;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;
    margin-top: 50px;

    
}
.card img {
    width: 100%;
}
.card p {
    background-color: #ffffff;
    flex: 1;
    font-size: 1.5rem;
    margin-top: 5px;
    padding: 5px 20px 0px 20px ;
    text-align: center;
}
.card-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.logo {
    text-align: center ;
}
img {
    width: 100px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px #1b59a0;
    
}
.button-one{
    color:#4A90E2; 
    font-size: 40px;
    border: none;
    display:contents;
    
 }
 .button-one:hover  {
    background-color: #e3e3e4;
    cursor: pointer;
 }


